<div class="col-md-5  float-left">
    <img src="https://cdn.pixabay.com/photo/2015/01/10/11/39/hotel-595121__480.jpg">
</div>
<div class=" col-md-5 float-right container ">
    <form #loginForm='ngForm' (ngSubmit)='login(loginForm)'>
        <div class="card">
            <div class="card card-body border-primary">
                <div class="card-header bg-dark text-white">
                    <div>
                        <h4>LOGIN HERE!!!!</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="email">EMAILID</label>
                        <input type="email" name="email" required class="form-control" #email='ngModel' ngModel email
                            placeholder="enter email id" class="form-control mb-3">
                        <div *ngIf='email.touched && email.invalid'>
                            <p class="alert alert-danger" *ngIf='email.errors.required'>
                                field is mandatory
                            </p>
                            <p class="alert alert-danger" *ngIf='email.errors.email'>
                                input should be email only of type
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">PASSWORD</label>
                        <input type="password" name="password" required class="form-control" #password='ngModel' ngModel
                            placeholder="enter password" class="form-control mb-3"
                            pattern="(?=.*[a-zA-Z])(?=.*[0-9]).{6,15}">
                        <div *ngIf='password.touched && password.invalid'>
                            <p class="alert alert-danger" *ngIf='password.errors.required'>
                                field is mandatory
                            </p>
                            <p class="alert alert-danger" *ngIf='password.errors.pattern'>
                                please enter according to pattern
                            </p>
                        </div>
                    </div>
                    <button class="btn btn-primary float-right" [disabled]='loginForm.invalid'
                        type='submit'>LOGIN</button>
                </div>
            </div>
        </div>
    </form>
</div>