<div [ngStyle]="{'background' : 'url(https://cdn.pixabay.com/photo/2014/08/17/23/45/hotel-420260__480.jpg)'}"></div>>
<div class="container ">
    <div class="row">
        <div class="col-md-6 bg-white mt-5 card">
            <h1>HOTEL POLICIES</h1>
            <p>A hotel is an establishment that provides paid lodging on a short-term basis.
                Facilities provided may range from a modest-quality mattress in a small room to
                large suites with bigger, higher-quality beds, a dresser, a refrigerator and other
                kitchen facilities, upholstered chairs, a flat screen television, and en-suite bathrooms.
            </p>
        </div>
        <div class="col-md-6 bg-white mt-5 card">
            <h1>TARRIF PLAN AND FACILITES</h1>
            <p>Hotel operations vary in size, function, complexity, and cost. Most hotels and major hospitality
                companies have set industry standards to classify hotel types. An upscale full-service hotel
                facility offers luxury amenities, full service accommodations, an on-site restaurant, and the
                highest level of personalized service,
                such as a concierge, room service, and clothes pressing staff.
            </p>
        </div>

    </div>
</div>
