<div id="image">
    <div class="container ">
        <div class="row">
            <div class="col-md-3 bg-white mt-5 card">
                <h1>FACILITY</h1>
                <p>A hotel is an establishment that provides paid lodging on a short-term basis.
                    Facilities provided may range from a modest-quality mattress in a small room to
                    large suites with bigger, higher-quality beds, a dresser, a refrigerator and other
                    kitchen facilities, upholstered chairs, a flat screen television, and en-suite bathrooms.
                </p>
            </div>
            <div class="col-md-6 bg-white mt-5 card">
                <h1>AVALABILITY</h1>
                <p>Hotel operations vary in size, function, complexity, and cost. Most hotels and major hospitality
                    companies have set industry standards to classify hotel types. An upscale full-service hotel
                    facility offers luxury amenities, full service accommodations, an on-site restaurant, and the
                    highest level of personalized service,
                    such as a concierge, room service, and clothes pressing staff.
                </p>
            </div>
            <div class="col-md-3 bg-white mt-5 card">
                <h1>MANAGE</h1>
                <p>Economy hotels are small to medium-sized hotel establishments that offer basic accommodations with
                    little to no services. Extended stay hotels are small to medium-sized hotels that offer longer-term
                    full service accommodations compared to a traditional hotel.

                </p>
            </div>
        </div>
    </div><br>
    <div class=" col-md-6 container card  bg-light" style="border: blue;">
        <h1>CONTACT US BELOW </h1>
        <td> 8907658765</td>
        <td> 9675476587</td>
        <h1>EMAIL ID</h1>
        <td>abc@xyz.com</td>
        <td>ouy@uiy.com</td>

    </div>
</div>