<div class="container card card-body mt-2 ">
    <table class="table table-bordered table-hover ">
        <thead class="bg-dark text-white">
            <tr>
                <th>GUEST ID</th>
                <th>GUEST NAME</th>
                <th>GUEST EMAIL ID</th>
                <th>GUEST TYPE</th>
            </thead>
        <tbody class="text-dark">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    </table>
</div>